/bootstrap/ssr
/node_modules

/public/build
/public/hot

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.idea
/app/.DS_Store
.DS_Store
/.DS_Store
/packages
/app/Http/Controllers/TestController.php
/storage/debugbar
/storage/logs
.phplint.cache
.phpunit.cache

# Code Coverage
html_coverage/
cobertura.xml
coverage.cov
